/* ==============GOOGLE FONTS =========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --text-color: white;
  --hover-color: #00ABE4;
  --bg-color: #01257D;
  --second-bg-color: #635050;
  --bg-font: 2.5rem;
  --normal-font: 2rem;
  --main-box-shadow: 0 0 0.5rem #6c06fa;
  --h2-font: 3rem;
  --font-main-text-shadow: 0 0 10px #2022224d, 0 0 20px rgba(18, 247, 255, 0.3),
    0 0 30px rgba(18, 247, 255, 0.3), 0 0 40px rgba(18, 247, 255, 0.3),
    0 0 70px rgba(18, 247, 255, 0.3), 0 0 80px rgba(18, 247, 255, 0.3),
    0 0 100px rgba(18, 247, 255, 0.3), 0 0 150px rgba(18, 247, 255, 0.3);
}

::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--second-bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--hover-color);
  border-radius: 5rem;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10%;
}

header.sticky {
  background: var(--bg-color);
  border-bottom: 1px solid var(--hover-color);
  padding: 12px 10%;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}

header span {
  color: var(--hover-color);
}

.nav_list {
  display: flex;
}

.nav_list a {
  display: inline-block;
  color: var(--text-color);
  font-weight: 600;
  padding: 10px 20px;
  animation: slideAnimation 1s ease forwards;
  animation-delay: calc(.3s * var(--i));
  opacity: 0;
}

.nav_list a:hover {
  color: var(--hover-color);
  text-shadow: 1px 1px var(--font-main-text-shadow);
}

.nav_list a.active {
  color: var(--hover-color);
}

#menu-icon {
  font-size: 1.8rem;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  background-color: var(--hover-color);
  color: var(--text-color);
  display: none;
  border-radius: 3px;
}

/* ======== reusable css =====  */
section {
  padding: 100px 10%;
}

/* ========== HOME SECTION START HERE ==========  */
.home {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4em;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: var(--bg-font);
  font-weight: 700;
}

.change-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.change-text h3 {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}
/* =====change word start=====  */
.change-text h3 .word {
  position: absolute;
  display: flex;
  opacity: 0;
  color: var(--hover-color);
}

.change-text h3 .word .letter {
  transform-origin: center center 25px;
}

.change-text h3 .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.change-text h3 .word .letter.in {
  transition: 0.38s ease;
}

.change-text h3 .word .letter.behind {
  transform: rotateX(-90deg);
}
/* ==== change word end =======  */
.home-content p {
  color: #bdbdbd;
  line-height: 1.6;
}

.info-box {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 1rem 0 2rem;
}

.info-box h5 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 1rem;
}

.info-box span {
  font-size: 0.9rem;
  color: #bdbdbd;
}

.btn-box {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 45px;
}

.btn-box .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: var(--hover-color);
  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.6s;
  box-shadow: var(--main-box-shadow);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid var(--hover-color);
}

.btn:hover {
  color: var(--hover-color);
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-color);
  width: 0;
  height: 100%;
  z-index: 1;
  transition: 0.5s;
}

.btn:hover::before {
  width: 100%;
}
.btn:nth-child(2) {
  background-color: var(--bg-color);
}

.btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn:nth-child(2)::before {
  background: var(--hover-color);
}

.social-icons {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  width: 220px;
  height: 40px;
}

.social-icons a {
  display: inline-flex;
  width: 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
  transition: 0.6s;
  box-shadow: 0 0 0.3rem var(--text-color);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.social-icons a i {
  font-size: 1.5rem;
}

.social-icons a:hover {
  color: var(--text-color);
  background: var(--hover-color);
}

.social-icons a::before {
  content: '';
  position: absolute;
  background-color: var(--hover-color);
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  transition: 0.6s;
  z-index: -1;
}

.social-icons a:hover::before {
  width: 100%;
}

.home-image {
  position: relative;
}

.img-box {
  text-align: center;
}

.img-box img {
  width: 100%;
  max-width: 377px;
  height: auto;
  border-radius: 10px;
}

/* .liquid-shape {
  position: absolute;
  width: 100%;
  max-width: 550px;
  height: auto;
  z-index: -1;
  bottom: 0.1%;
  background-color: transparent;
} */
/* ==== HOME SECTION END HERE ========== */

/* ======== ABOUT SECTION START HERE =========  */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 2em;
  background-color: var(--second-bg-color);
}

.about .img-about {
  text-align: center;
  position: relative;
}

.about .img-about img {
  max-width: 400px;
  height: auto;
}

.about-content span {
  color: #fdfdfd;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about-content h2 {
  color: var(--hover-color);
  font-weight: 700;
  font-size: var(--normal-font);
}

.about-content h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  color: #06d5fa;
}

.about-content p {
  font-weight: 300;
  margin-bottom: 1.5rem;
  color: #dfdfdf;
}

.info-about1,
.info-about2,
.info-about3 {
  background: var(--bg-color);
  font-size: 0.5rem;
  position: absolute;
  padding: 10px;
  width: 90px;
  height: 90px;
  border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
  display: block;
  box-sizing: var(--main-box-shadow);
  border: 1px solid var(--hover-color);
  outline: 2px solid var(--bg-color);
  z-index: 100;
  animation: morph 6s linear infinite;
}

.info-about1 {
  left: 10%;
  top: 34%;
}

.info-about2 {
  left: 66%;
  top: 15%;
}

.info-about3 {
  left: 61%;
  top: 70%;
}

.img-about span {
  color: var(--hover-color);
  font-size: 1rem;
  font-weight: 600;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  30% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  60% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
  80% {
    border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
  }
}
/* ======== ABOUT SECTION END HERE =========  */

/* ======== SERVICES SECTION START HERE =========  */
.main-text {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--hover-color);
}

.main-text h2 {
  font-weight: 700px;
  font-size: var(--normal-font);
}

.main-text span {
  color: #fdfdfd;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.section-services .service-box {
  flex: 1 1 18rem;
  padding: 2rem 1rem 2rem;
  text-align: center;
  background-color: var(--second-bg-color);
  transition: transform 0.4s;
  border-radius: 10px;
}

.service-btn {
  width: auto;
  justify-content: center;
}

.service-box:hover {
  transform: translateY(-0.7rem);
}

.service-icon {
  border: 2px solid var(--hover-color);
  border-radius: 50%;
  padding: 2rem;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  font-size: 3rem;
  position: relative;
  color: var(--hover-color);
  box-shadow: var(--main-box-shadow);
  outline: 3px solid var(--bg-color);
}

.service-box h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.service-box .service-offered {
  color: var(--hover-color);
}

.service-box ul {
color: var(--text-color);
}

/* =========== learn more =======  */
#check {
  display: none;
}

.content {
  display: none;
}

.content  {
text-align: justify;
}


.learn-more {
  display: block;
  margin-bottom: 3rem;
  color: var(--hover-color);
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}

#check:checked ~ .content {
  display: block;
}

#check:checked ~ .learn-more {
  visibility: hidden;
}

#check:checked ~ .learn-more::after {
  content: "Show Less";
  display: block;
  visibility: visible;
}

/* ==== About Section  */

.about-description p {
  text-align: justify;
  margin-bottom: 1rem;
}

.about-subtitle {
  font-size: var(--smaller-font-size);
} */



.service-box p {
  margin: 0.5rem 0 1.5rem 0;
  font-weight: 300;
  letter-spacing: 1px;
  color: #bdbdbd;
  line-height: 1.6;
}

/* ======== SERVICES SECTION END HERE =========  */

/* ======== SKILLS SECTION START HERE =========  */
/* =====skill left =======  */
.skills {
  background: var(--second-bg-color);
}

.skill-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 50px;
}

.skill-main h3 {
  margin-bottom: 2rem;
  font-size: var(--normal-font);
  text-align: center;
  color: var(--hover-color);
}

.skill-bar {
  margin-bottom: 2.3rem;
}

.skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.skill-left .skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: var(--bg-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.skill-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--hover-color);
  border-radius: 25px;
  box-shadow: var(--main-box-shadow);
}

.skill-bar .bar .html {
  width: 85%;
  animation: html 1s;
}

.skill-bar .bar .css {
  width: 70%;
  animation: css 2s;
}

.skill-bar .bar .javascript {
  width: 60%;
  animation: javascript 3s;
}

.skill-bar .bar .react {
  width: 65%;
  animation: react 4s;
}

.skill-bar .bar .node {
  width: 59%;
  animation: node 1s;
}

.skill-bar .bar .postgresql {
  width: 79%;
  animation: psg 3s;
}

.skill-bar .bar .mongodb {
  width: 55%;
  animation: mongodb 1s;
}

@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes javascript {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@keyframes react {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}

@keyframes node {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@keyframes psg {
  0% {
    width: 0;
  }
  100% {
    width: 79%;
  }
}

@keyframes mongodb {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}
/* ======== skill right =======  */
.professional {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  position: relative;
  margin: 10px 0;
  flex: 1 1 15rem;
}

.box .text {
  text-align: center;
  color: var(--text-color);
  font-size: 1rem;
}

.box .text big {
  font: 400px;
  /* letter-spacing: 1rem; */
  position: absolute;
  top: 40%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.box .text small {
  display: block;
  font-weight: 500;
}

.circle {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid var(--text-color); */
}

.circle .points {
  width: 2px;
  height: 10px;
  background-color: var(--bg-color);
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i) * var(--rot))) translateY(-45px);
  animation: glow 0.04s linear forwards;
  animation-delay: calc(var(--i) * 0.05s);
}

@keyframes glow {
  0% {
    background-color: var(--bg-color);
    box-shadow: none;
  }

  100% {
    background-color: var(--hover-color);
    box-shadow: var(--main-box-shadow);
  }
}

@keyframes slideAnimation {
  0% {
   opacity: 0;
   transform: translateY(100px);
  }

  100% {
    opacity: 1;
   transform: translateY(0);
  }
}

.points.marked {
  animation: glow 0.04s linear forwards;
  animation-delay: calc(var(--i) * 0.05s);
}

/* ======== SKILLS SECTION END HERE =========  */

/* ========== PORTFOLIO SECTION START HERE ========== */
.filter-button {
  margin: 2rem;
  text-align: center;
}

.filter-button .button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-left: 1.3rem;
  color: var(--text-color);
}

.filter-button .button:hover {
  color: var(--hover-color);
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 2rem;
}

.portfolio-box {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background: #292e33;
  display: flex;
  grid-template-rows: 1fr auto;
  align-items: center;
  border: 2px solid var(--hover-color);
  box-shadow: var(--main-box-shadow);
}

.portfolio-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.portfolio-image img {
  width: 100%;
  height: 100%;
  opacity: 0.5s;
  transition: 0.5s;
}

.portfolio-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(rgb(23, 20, 48), rgb(2, 94, 79));
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: 0.5s;
  padding: 0 2rem;
}

.portfolio-box:hover .portfolio-content {
  opacity: 1;
}

.portfolio-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.portfolio-box:hover .portfolio-image img {
  transform: scale(1.1);
}

.portfolio-content p {
  font-size: 0.8rem;
  margin: 5px 0 15px 0;
}

.portfolio-content span a {
  color: var(--hover-color);
  font-weight: 700;
  background-color: var(--bg-color);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  outline: 0.5px solid var(--text-color);
}

.portfolio-content span a i {
  font-size: 1.5rem;
}

.portfolio-content a:hover {
  color: var(--text-color);
  font-weight: 700;
}
/* ========== PORTFOLIO SECTION END HERE ========== */

/* ========= CONTACT SECTION START HERE ========== */
.contact {
  background: var(--second-bg-color);
  width: 100%;
}

.contact form {
  text-align: center;
  max-width: 59rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
}

.contact form input,
.contact form textarea {
  width: 100%;
  color: var(--bg-color);
  background-color: wheat;
  margin-bottom: 0.8rem;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
}

.contact form textarea {
  resize: none;
}

.formBtn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.formBtn .btn {
  cursor: pointer;
  font-size: 1rem;
}
/* ========= CONTACT SECTION END HERE ========== */

/* ==================== FOOTER ==============  */
footer {
  padding: 1.5rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  color: #bdbdbd;
}

footer a {
  display: inline-flex;
  justify-content: center;
  color: var(--text-color);
  background-color: var(--hover-color);
  padding: 0.6rem;
  border-radius: 5px;
}

footer a:hover {
  background-color: var(--text-color);
  color: var(--hover-color);
}

footer a i {
  font-size: 1rem;
}

/* ========= RESPONSIVENESS ==========  */
@media (max-width: 991px) {
  header,
  footer,
  header.sticky {
    padding: 15px 5%;
  }
  section {
    padding: 50px 5%;
  }
  .nav_list a {
    padding: 8px 15px;
  }
  :root {
    --bg-font: 2.2rem;
    --normal-font: 1.8rem;
    --main-box-shadow: 0 0 0.8rem #06d5fa;
    --h2-font: 3rem;
  }
  .home-content {
    margin-top: 5rem;
  }
  .social-icons {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
    transition: all 0.4s ease;
  }

  #menu-icon.bx-x {
    transform: rotate(-180deg);
  }

  .nav_list {
    display: flex;
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    padding: 0 5%;
    transition: all 0.4s ease;
  }
  .nav_list a {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  .nav_list.open {
    top: 100%;
    background-color: var(--second-bg-color);
  }

  .home {
    grid-template-columns: 1fr;
    /* background-color: red; */
  }

  .home-image {
    margin-bottom: 5rem;
  }

  .liquid-shape {
    /* display: none; */
    width: 80%;
    left: 10%;
    top: 13%;
  }

  .about {
    flex-direction: column-reverse;
  }

  .skill-main {
    grid-template-columns: 1fr;
  }

  .filter-button {
    margin: 2.5rem 0;
  }

  footer p {
    font-size: 0.8rem;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 80%;
  }

  footer p {
    font-size: 0.7rem;
  }

  .filter-button .button {
    font-size: 0.8rem;
  }

  .img-about img {
    max-width: 100%;
    height: auto;
    width: 300px;
  }

  .info-about1,.info-about2,.info-about3 {
  display: none;
  }

  .img-about p {
    font-size: 1rem;
  }
}

/* ================= parallax =========== */
.scroll-scale {
  opacity: 0;
  transform: scale(.9);
  transition: all 2s;
}

.scroll-bottom {
  opacity: 0;
  transform: translateY(300px);
  transition: 3s;
}

.scroll-top {
  opacity: 0;
  transform: translateY(-300px);
  transition: 3s;
}

.show-items {
  opacity: 1;
  transform: translateX(0);
}
